@font-face {
  font-family: typeMachine;
  src: url(../fontes/Type\ Machine.ttf);
}

@font-face {
  font-family: NixieOne;
  src: url(../fontes/NixieOne.ttf);
}

@font-face {
  font-family: College;
  src: url(../fontes/Colleged.ttf);
}

@font-face {
  font-family: amberyGarden;
  src: url(../fontes/Ambery\ Garden.ttf);
}